<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml" layout:decorate="~{layout}">

<head>
  <meta charset="UTF-8">
  <title>Lista de Usuários</title>
  <link rel="stylesheet" th:href="@{/css/listar-pessoa.css}" th:fragment="css">
  <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.21.3/dist/bootstrap-table.min.css">
  </link>
</head>

<body>
  <main class="container" layout:fragment="main">
    <div class="row justify-content-md-center">
      <h1>Lista de Pessoas</h1>

      <div>
        <h3 th:if="${pessoas.empty}">Sem Pessoas Cadastradas!</h3>
      </div>

      <div id="teste"></div>

      <div class="col ms-0 mb-3">
        <a class="btn btn-success" href="" th:href="@{/pessoa/cadastrar}">
          Cadastrar Pessoa
        </a>
      </div>

      <div class="table-responsive-sm">
      <table class="table table-striped " id="table1" th:if="${!pessoas.empty}">
        <thead id="theadprops" class="bg-light">
          <tr>
            <th class="cpf">CPF</th>
            <th>Nome</th>
            <th class="acoes">Ações</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="pessoa : ${pessoas}">
            <td><span th:text="${pessoa.cpf}"> CPF </span></td>
            <td><span th:text="${pessoa.nome}"> Nome </span></td>
            <td>
              <button class="btn btn-warning btn-sm me-2" id="btn-editar"
                th:onclick="editarModal([[${pessoa.id}]],[[${pessoa.nome}]])">
                <span style="font-size: 15px; color: rgb(35, 39, 43);">
                  <i class="fa-regular fa-pen-to-square"></i>
                </span>
              </button>

              <button class="btn btn-danger btn-sm me-2" id="btn-apagar"
                th:onclick="apagarModal([[${pessoa.id}]],[[${pessoa.nome}]])">
                <span style="font-size: 15px; color: rgb(35, 39, 43);">
                  <i class="fa-solid fa-trash"></i>
                </span>
              </button>

              <a class="btn btn-info btn-sm" href="" id="btn-dependente"
                th:href="@{/dependente/listar/{id}(id=${pessoa.id})}">
                <span style="font-size: 15px">
                  Dependentes
                </span>
              </a>
            </td>
          </tr>
          <tr th:each="i: ${#numbers.sequence(1, 100)}">
            <td><span > CPF </span></td>
            <td><span> Nome </span></td>
            <td>
              <button class="btn btn-warning btn-sm me-2" id="btn-editar">
                <span style="font-size: 15px; color: rgb(35, 39, 43);">
                  <i class="fa-regular fa-pen-to-square"></i>
                </span>
              </button>

              <button class="btn btn-danger btn-sm me-2" id="btn-apagar">
                <span style="font-size: 15px; color: rgb(35, 39, 43);">
                  <i class="fa-solid fa-trash"></i>
                </span>
              </button>

              <a class="btn btn-info btn-sm" href="" id="btn-dependente">
                <span style="font-size: 15px">
                  Dependentes
                </span>
              </a>
            </td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <th>CPF</th>
            <th>Nome</th>
            <th>Ações</th>
          </tr>
        </tfoot>
      </table>
    </div>
    </div>
  </main>
  <div th:replace="components/modal :: modal" layout:fragment="modal"></div>
  <script th:inline="javascript" th:fragment="inlinescript"></script>
  <script src="https://unpkg.com/bootstrap-table@1.21.3/dist/bootstrap-table.min.js"></script>
  <script type="text/javascript" th:fragment="js">
    $(document).ready(function () {

        const csrfToken = document.cookie.replace(/(?:(?:^|.*;\s*)XSRF-TOKEN\s*\=\s*([^;]*).*$)|^.*$/, '$1');

        $(document).ajaxSend(function(e, xhr, options) {
            xhr.setRequestHeader(csrfToken);
        });

      $('#listar').addClass('active');

    })
  </script>
  <div th:insert="scripts/pessoa/listar-script :: listar" layout:fragment="script"></div>

</body>

<!--datable implements-->


</html>