.container {
  max-width: 1100px;
  min-width: 580px;
  width: auto !important;
}

.cpf {
  width: 20%;
}

.acoes {
  width: 21%;
}

span {
  color: black;
}

.table {
  --bs-table-striped-bg: rgba(235, 231, 231, 0.05);
}

.paginate_button {
  border-radius: 4px;
}

input {
  border-radius: 4px;
}

@media (max-width: 1040px) {
  #btn-dependente {
    margin-top: 10px;
  }
}