@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');
* { 
  font-family: 'Roboto', sans-serif;
}

#form-label-margin {
  margin-right: 15px;
}


.blink-1{-webkit-animation:blink-1 .6s both;animation:blink-1 .6s both;
  color: rgb(252, 69, 69)
}

 @-webkit-keyframes blink-1{0%,50%,100%{opacity:1}25%,75%{opacity:0}}@keyframes blink-1{0%,50%,100%{opacity:1}25%,75%{opacity:0}}

.error{-webkit-animation:blink-1 .6s both;animation:blink-1 .6s both;
  color: rgb(252, 69, 69)
}

@-webkit-keyframes error{0%,50%,100%{opacity:1}25%,75%{opacity:0}}@keyframes blink-1{0%,50%,100%{opacity:1}25%,75%{opacity:0}}

span {
  color: rgb(185, 15, 15);
}

.container {
  width: 1100px;
}

.readOnly {
  background-color: rgb(230, 230, 230);
}

