@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');
* { 
  font-family: 'Roboto', sans-serif;
}

#form-label-margin {
  margin-right: 15px;
}


.blink-1{-webkit-animation:blink-1 .6s both;animation:blink-1 .6s both;
  color: rgb(252, 69, 69)
}

 @-webkit-keyframes blink-1{0%,50%,100%{opacity:1}25%,75%{opacity:0}}@keyframes blink-1{0%,50%,100%{opacity:1}25%,75%{opacity:0}}

.error{-webkit-animation:blink-1 .6s both;animation:blink-1 .6s both;
  color: rgb(252, 69, 69)
}

@-webkit-keyframes error{0%,50%,100%{opacity:1}25%,75%{opacity:0}}@keyframes blink-1{0%,50%,100%{opacity:1}25%,75%{opacity:0}}

span {
  color: rgb(185, 15, 15);
}

.container {
  width: 1100px;
}

.readOnly {
  background-color: rgb(230, 230, 230);
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
}

