<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <link th:href="@{/css/main.css}" rel="stylesheet" />
  <!-- CSS only -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

</head>

<body>



  <div class="container mt-4" id="form-cont">

    <h2 class="">Cadastrar usuário</h2>

    <div class="alert alert-success alert-dismissible fade show" th:if="${mensagem}">
      <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
      <span th:text="${mensagem}"></span>
    </div>



    <form action="#" th:action="@{/salvar}" th:object="${pessoa}" method="post">

      <div class="mb-5" name="Cadastro_Principal">

        <div class="row mb-2">

          <div class="col-sm-3">
            <label class="form-label">CPF <span>*</span></label>
            <input type="text" class="form-control" th:field="*{cpf}">
            <span class="blink-1" th:if="${#fields.hasErrors('cpf')}" th:errors="*{cpf}"></span>
          </div>
          <div class="col-sm-9">
            <label class="form-label">Nome <span>*</span></label>
            <input type="text" class="form-control" th:field="*{nome}">
            <span class="blink-1" th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"></span>
          </div>
          <div class="col-sm-5">
          </div>

        </div>

        <div class="row mb-2">

          <div class="col-sm-2 d-flex flex-column">
            <label class="form-label">Sexo <span>*</span></label>
            <select name="sexo" class="form-select">
              <option th:each="sexo : ${listaSexo}" th:value="${sexo}" th:text="${sexo.descricao}"
                th.field="${pessoa.sexo}" name="sexo">
              </option>
            </select>
          </div>
          <div class="col-sm-3 d-flex flex-column">
            <label class="form-label">Raca <span>*</span></label>
            <select name="raca" class="form-select">
              <option th:each="raca : ${listaRaca}" th:value="${raca}" th:text="${raca.descricao}"
                th.field="${pessoa.raca}" name="raca">
              </option>
            </select>
          </div>
          <div class="col d-flex flex-column">
            <label class="form-label">Estado Civil <span>*</span></label>
            <select name="estadoCivil" class="form-select">
              <option th:each="estadoCivil: ${listaEstadoCivil}" th:value="${estadoCivil}"
                th:text="${estadoCivil.descricao}" th.field="${pessoa.estadoCivil}" name="estadoCivil">
              </option>
            </select>
          </div>

        </div>

        <div class="row">

          <div class="col-sm-9">
            <label class="form-label">Nome Social:</label>
            <input type="text" class="form-control" th:field="${pessoa.nomeSocial}">
          </div>
          <div class="col">
            <label class="form-label">Data Nascimento <span>*</span></label>
            <input type="date" class="form-control" th:field="${pessoa.dataNascimento}">
            <!--<span class="mensagem" th:if="${#fields.hasErrors('dataNascimento')}" th:errors="*{dataNascimento}"></span>-->
          </div>

        </div>

      </div>

      <div class="CadastroEndereco">

        <div class="row mb-3">

          <div class="col">
            <label for="" class="form-label">Pais Nascimento <span>*</span></label>
            <select name="paisNascimento" class="form-select">
              <option th:each="pais: ${listaPaises}" th:value="${paisNascimento}" th:text="${pais.descricao}"
                th:field="${pessoa.paisNascimento}" name="paisNascimento">
              </option>
            </select>
          </div>
          <div class="col">
            <label for="" class="form-label">Pais Nacionalidade <span>*</span></label>
            <select name="paisNacionalidade" class="form-select">
              <option th:each="pais: ${listaPaises}" th:value="${paisNacionalidade}" th:text="${pais.descricao}"
                th:field="${pessoa.paisNacionalidade}" name="paisNacionalidade">
              </option>
            </select>
          </div>

        </div>

        <div class="row mb-3">

          <div class="col-sm-2">
            <label class="form-label">CEP <span>*</span></label>
            <input type="text" class="form-control" th:field="*{endereco.cep.numeroCep}">
            <span class="blink-1" th:if="${#fields.hasErrors('endereco.cep.numeroCep')}" th:errors="*{numeroCep}"></span>
          </div>
          <div class="col-sm-3">
            <label for="" class="form-label">Tipo <span>*</span></label>
            <select name="tipoEndereco" class="form-select">
              <option th:each="tipo: ${listaTipoEndereco}" th:value="${tipo}" th:text="${tipo.descricao}"
                th:field="*{endereco.tipoEndereco}" name="tipoEndereco">
              </option>
            </select>
          </div>
          <div class="col">
            <label class="form-label">Logradouro <span>*</span></label>
            <input type="text" class="form-control" th:field="*{endereco.logradouro}">
          </div>

        </div>

        <div class="row mb-3">

          <div class="col-sm-2">
            <label class="form-label">Numero <span>*</span></label>
            <input type="text" class="form-control" th:field="*{endereco.numero}">
          </div>
          <div class="col-sm-8">
            <label class="form-label">Complemento </label>
            <input type="text" class="form-control" th:field="*{endereco.complemento}"></input>
          </div>

          <div class="col">
            <label class="form-label">Bairro </label>
            <input type="text" class="form-control" th:field="*{endereco.cep.bairro}">
          </div>

        </div>

        <div class="row mb-3">

          <div class="col">
            <label class="form-label">UF <span>*</span></label>
            <input type="text" class="form-control" th:field="*{endereco.cep.estado}">
          </div>
          <div class="col">
            <label class="form-label">Municipio <span>*</span></label>
            <input type="text" class="form-control" th:field="*{endereco.cep.municipio}">
          </div>
        </div>

      </div>

      <div class="col">
        <input type="submit" class="w-100 btn btn-primary btn-lg mt-3" value="Cadastrar">
      </div>


    </form>

  </div>















</body>

</html>