<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <link th:href="@{/css/main.css}" rel="stylesheet" />
  <link th:href="@{/extensions/bootstrap/css/bootstrap.css}" rel="stylesheet" />
  <script type="text/javascript" th:src="@{/extensions/bootstrap/js/bootstrap.js}"></script>
  <style>
    .container {
      width: 1100px;
    }
  </style>
</head>

<body>


  <div th:insert="fragments/nav :: nav"></div>

  <div class="container mt-4" id="form-cont">

    <h2 class="">Cadastrar dependente</h2>

    <div class="alert alert-success alert-dismissible fade show" th:if="${mensagem}">
      <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
      <span th:text="${mensagem}"></span>
    </div>



    <form action="#" th:action="@{/dependente/salvar}" th:object="${dependente}" method="post" id="formCadastrar">

      <div class="mb-5" name="Cadastro_Principal">

        <div class="row mb-2">
          <div class="col-sm-3">
            <label class="form-label">CPF <span>*</span></label>
            <input th:id="@{cpf}" th:field="*{cpf}" type="text" class="form-control" maxlength="14"
              autocomplete="off" />
            <span class="blink-1" th:if="${#fields.hasErrors('cpf')}" th:errors="*{cpf}"></span>
          </div>
          <div class="col">
            <label class="form-label">Nome <span>*</span></label>
            <input th:id="@{nome}" th:field="*{nome}" type="text" class="form-control" />
            <span class="blink-1" th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"></span>
          </div>
        </div>

        <div class="row mb-5">

          <div class="col-sm-3">
            <label class="form-label">Data Nascimento <span>*</span></label>
            <input th:id="@{dataNascimento}" th:field="*{dataNascimento}" type="date" class="form-control" />
            <span class="blink-1" th:if="${#fields.hasErrors('dataNascimento')}" th:errors="*{dataNascimento}"></span>
          </div>

          <div class="col-sm-3 d-flex flex-column">
            <label class="form-label">Sexo <span>*</span></label>
            <select th:id="@{sexo}" th:field="*{sexo}" class="form-select">
              <option selected th:value="${null}">Escolha um sexo</option>
              <option th:each="sexo : ${listaSexo}" th:value="${sexo.id}" th:text="${sexo.descricao}" name="sexo">
              </option>
            </select>
            <span class="blink-1" th:if="${#fields.hasErrors('sexo')}" th:errors="*{sexo}"></span>
          </div>

          <div class="col d-flex flex-column">
            <label class="form-label">Tipo Dependente <span>*</span></label>
            <select th:id="@{tipoDependente}" th:field="*{tipoDependente}" class="form-select">
              <option selected th:value="${null}">Escolha um tipo</option>
              <option th:each="tipo : ${listaTipo}" th:value="${tipo.id}" th:text="${tipo.descricao}" name="tipo">
              </option>
            </select>
            <span class="blink-1" th:if="${#fields.hasErrors('tipoDependente')}" th:errors="*{tipoDependente}"></span>
          </div>
        </div>

        <h4 class="">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
            class="bi bi-caret-down-fill" viewBox="0 0 16 16">
            <path
              d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z" />
          </svg>
          Pessoa com deficiência
        </h4>

        <div class="row">
          <div class="col">
            <div class="form-check-label">
              <h6>Deficiência Fisica <span>*</span></h4>
                <input type="radio" class="form-check-input" th:field="*{deficiencias.deficienciaFisica}"
                  th:value="${true}" />
                <label for="" class="me-3">Sim</label>
                <input type="radio" class="form-check-input" th:field="*{deficiencias.deficienciaFisica}"
                  th:value="${false}" />
                <label for="">Não</label>
            </div>
            <label id="deficiencias.deficienciaFisica-error" class="error" for="deficiencias.deficienciaFisica"></label>
          </div>

          <div class="col">
            <div class="form-check-label">
              <h6>Deficiência Visual <span>*</span></h4>
                <input type="radio" class="form-check-input" th:field="*{deficiencias.deficienciaVisual}"
                  th:value="${true}" />
                <label for="" class="me-3">Sim</label>
                <input type="radio" class="form-check-input" th:field="*{deficiencias.deficienciaVisual}"
                  th:value="${false}" />
                <label for="">Não</label>
            </div>
            <label id="deficiencias.deficienciaVisual-error" class="error" for="deficiencias.deficienciaVisual"></label>
          </div>

          <div class="col">
            <div class="form-check-label">
              <h6>Deficiência Auditiva <span>*</span></h4>
                <input type="radio" class="form-check-input" th:field="*{deficiencias.deficienciaAuditiva}"
                  th:value="${true}" />
                <label for="" class="me-3">Sim</label>
                <input type="radio" class="form-check-input" th:field="*{deficiencias.deficienciaAuditiva}"
                  th:value="${false}" />
                <label for="">Não</label>
            </div>
            <label id="deficiencias.deficienciaAuditiva-error" class="error" for="deficiencias.deficienciaAuditiva"></label>
          </div>

          <div class="col">
            <div class="form-check-label">
              <h6>Deficiência Mental <span>*</span></h4>
                <input type="radio" class="form-check-input" th:field="*{deficiencias.deficienciaMental}"
                  th:value="${true}" />
                <label for="" class="me-3">Sim</label>
                <input type="radio" class="form-check-input" th:field="*{deficiencias.deficienciaMental}"
                  th:value="${false}" />
                <label for="">Não</label>
            </div>
            <label id="deficiencias.deficienciaMental-error" class="error" for="deficiencias.deficienciaMental"></label>
          </div>
        </div>

        <div class="row">
          

          <div class="col">
            <div class="form-check-label">
              <h6>Deficiência Intelectual <span>*</span></h4>
                <input type="radio" class="form-check-input" th:field="*{deficiencias.deficienciaIntelectual}"
                  th:value="${true}" />
                <label for="" class="me-3">Sim</label>
                <input type="radio" class="form-check-input" th:field="*{deficiencias.deficienciaIntelectual}"
                  th:value="${false}" />
                <label for="">Não</label>
            </div>
            <label id="deficiencias.deficienciaIntelectual-error" class="error" for="deficiencias.deficienciaIntelectual"></label>
          </div>

          <div class="col">
            <div class="form-check-label">
              <h6>Reabilitado ou Readaptado <span>*</span></h4>
                <input type="radio" class="form-check-input" th:field="*{deficiencias.reabilitado}"
                  th:value="${true}" />
                <label for="" class="me-3">Sim</label>
                <input type="radio" class="form-check-input" th:field="*{deficiencias.reabilitado}"
                  th:value="${false}" />
                <label for="">Não</label>
            </div>
            <label id="deficiencias.reabilitado-error" class="error" for="deficiencias.reabilitado"></label>
          </div>
          <div class="col">
            <div class="form-check-label">
              <h6>Preenche Cota </h4>
                <input type="radio" class="form-check-input" th:field="*{deficiencias.cota}"
                  th:value="${true}" />
                <label for="" class="me-3">Sim</label>
                <input type="radio" class="form-check-input" th:field="*{deficiencias.cota}"
                  th:value="${false}"/>
                <label for="" >Não</label>
            </div>
          </div>
          <div class="col"></div>

          
        </div>

        <div class="row">
          <div class="col">
            <label for="@{deficiencias.observacao}">Observação</label>
            <textarea class="form-control" th:field="*{deficiencias.observacao}" th:id="@{deficiencias.observacao}"  rows="3"></textarea>  
          </div>
        </div>

        <div class="col">
          <input type="submit" class="w-100 btn btn-primary btn-lg mt-3" value="Cadastrar" />
        </div>

    </form>

  </div>

</body>

<script type="text/javascript" th:src="@{/extensions/jquery/jquery-3.6.1.min.js}"></script>
<script type="text/javascript" th:src="@{/extensions/jquery/validate/jquery.validate.min.js}"></script>

<script language="javascript">
  $(document).ready(function () {


    // Jquery Validator
    $("#formCadastrar").validate({
      rules: {
        '[[@{cpf}]]': {
          cpf: true,
          required: true
        },
        '[[@{nome}]]': {
          required: true,
          minlength: 3
        },
        '[[@{sexo}]]': {
          required: true
        },
        '[[@{dataNascimento}]]': {
          required: true
        },
        '[[@{tipoDependente}]]': {
          required: true
        },

        '[[@{deficiencias.deficienciaVisual}]]': {
          required: true
        },

        '[[@{deficiencias.deficienciaFisica}]]': {
          required: true
        },

        '[[@{deficiencias.deficienciaAuditiva}]]': {
          required: true
        },

        '[[@{deficiencias.deficienciaMental}]]': {
          required: true
        },

        '[[@{deficiencias.deficienciaIntelectual}]]': {
          required: true
        },

        '[[@{deficiencias.reabilitado}]]': {
          required: true
        }

      },
      highlight: function (element) {
        if(element.type !== "radio")
        $(element).removeClass("is-valid").addClass("is-invalid");
      },
      unhighlight: function (element) {
        if(element.type !== "radio")
        $(element).removeClass("is-invalid").addClass("is-valid");
      },

      messages: {
        '[[@{cpf}]]': { cpf: "Por valor, insira um CPF válido!", required: "Por valor, insira um CPF!" },
        '[[@{nome}]]': { required: "Por favor, insira um nome!", minlength: "O nome deve ter no mínimo 3 caracteres!" },
        '[[@{sexo}]]': { required: "Por favor, insira o sexo!" },
        '[[@{dataNascimento}]]': { required: "Por favor, insira a data de nascimento!" },
        '[[@{tipoDependente}]]': { required: "Por favor, insira o tipo de dependente!" },
        '[[@{deficiencias.deficienciaFisica}]]': { required: "Escolha uma opção!"},
        '[[@{deficiencias.deficienciaVisual}]]': { required: "Escolha uma opção!"},
        '[[@{deficiencias.deficienciaAuditiva}]]': { required: "Escolha uma opção!"},
        '[[@{deficiencias.deficienciaMental}]]': { required: "Escolha uma opção!"},
        '[[@{deficiencias.deficienciaIntelectual}]]': { required: "Escolha uma opção!"},
        '[[@{deficiencias.reabilitado}]]': { required: "Escolha uma opção!"},
      }

    })

    //metodos - inputs CPF e CEP somente com numero e Masks

    $('input[id="[[@{cpf}]]"]').on('keypress', function (e) {
      let tecla = (event.keyCode || event.charCode);
      let input = $('input[id="[[@{cpf}]]"]').val();
      let inputLength = input.length;
      if ((tecla > 47 && tecla < 58)) {
        if (inputLength === 3 || inputLength === 7) {
          $('input[id="[[@{cpf}]]"]').val(input + ".");
        } else if (inputLength === 11) {
          $('input[id="[[@{cpf}]]"]').val(input + "-");
        }
      } else {
        e.preventDefault();
      }
    })


    //metodo - validação de cpf
    jQuery.validator.addMethod("cpf", function (value, element) {
      value = jQuery.trim(value);

      value = value.replace('.', '');
      value = value.replace('.', '');
      cpf = value.replace('-', '');
      while (cpf.length < 11) cpf = "0" + cpf;
      var expReg = /^0+$|^1+$|^2+$|^3+$|^4+$|^5+$|^6+$|^7+$|^8+$|^9+$/;
      var a = [];
      var b = new Number;
      var c = 11;
      for (i = 0; i < 11; i++) {
        a[i] = cpf.charAt(i);
        if (i < 9) b += (a[i] * --c);
      }
      if ((x = b % 11) < 2) { a[9] = 0 } else { a[9] = 11 - x }
      b = 0;
      c = 11;
      for (y = 0; y < 10; y++) b += (a[y] * c--);
      if ((x = b % 11) < 2) { a[10] = 0; } else { a[10] = 11 - x; }

      var retorno = true;
      if ((cpf.charAt(9) != a[9]) || (cpf.charAt(10) != a[10]) || cpf.match(expReg)) retorno = false;

      return this.optional(element) || retorno;

    }, "Informe um CPF válido");

    $(':radio').each(function () {
      $(this).removeAttr('checked');
    })
  })



</script>

</html>