<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <link th:href="@{/css/main.css}" rel="stylesheet" />
  <link th:href="@{/extensions/bootstrap/css/bootstrap.css}" rel="stylesheet" />
  <script type="text/javascript" th:src="@{/extensions/bootstrap/js/bootstrap.js}"></script>

</head>

<body>

  <div th:insert="fragments/nav :: nav"></div>



  <div class="container mt-4" id="form-cont">

    <h2 class="">Cadastrar usuário</h2>

    <div class="alert alert-success alert-dismissible fade show" th:if="${mensagem}">
      <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
      <span th:text="${mensagem}"></span>
    </div>



    <form action="#" th:action="@{/salvar}" th:object="${pessoa}" method="post" id="formCadastrar">

      <div class="mb-5" name="Cadastro_Principal">

        <div class="row mb-2">

          <div class="col-sm-3">
            <label class="form-label">CPF <span>*</span></label>
            <input th:id="@{cpf}" th:field="*{cpf}" type="text" class="form-control" maxlength="14"
              autocomplete="off" />
            <span class="blink-1" th:if="${#fields.hasErrors('cpf')}" th:errors="*{cpf}"></span>
          </div>
          <div class="col">
            <label class="form-label">Nome <span>*</span></label>
            <input th:id="@{nome}" th:field="*{nome}" type="text" class="form-control" />
            <span class="blink-1" th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"></span>
          </div>

        </div>

        <div class="row mb-2">

          <div class="col-sm-3 d-flex flex-column">
            <label class="form-label">Sexo <span>*</span></label>
            <select th:id="@{sexo}" th:field="*{sexo}" class="form-select">
              <option selected th:value="${null}">Escolha um sexo</option>
              <option th:each="sexo : ${listaSexo}" th:value="${sexo.id}" th:text="${sexo.descricao}" name="sexo">
              </option>
            </select>
            <span class="blink-1" th:if="${#fields.hasErrors('sexo')}" th:errors="*{sexo}"></span>
          </div>
          <div class="col-sm-3 d-flex flex-column">
            <label class="form-label">Raca <span>*</span></label>
            <select th.id="@{raca}" th:field="*{raca}" class="form-select">
              <option selected th:value="${null}">Escolha uma raça</option>
              <option th:each="raca : ${listaRaca}" th:value="${raca.id}" th:text="${raca.descricao}" name="raca">
              </option>
            </select>
            <span class="blink-1" th:if="${#fields.hasErrors('raca')}" th:errors="*{raca}"></span>
          </div>
          <div class="col d-flex flex-column">
            <label class="form-label">Estado Civil <span>*</span></label>
            <select th.id="@{estadoCivil}" th:field="*{estadoCivil}" class="form-select">
              <option selected th:value="${null}">Escolha um estado civil</option>
              <option th:each="estadoCivil: ${listaEstadoCivil}" th:value="${estadoCivil.id}"
                th:text="${estadoCivil.descricao}" name="estadoCivil">
              </option>
            </select>
            <span class="blink-1" th:if="${#fields.hasErrors('estadoCivil')}" th:errors="*{estadoCivil}"></span>
          </div>

        </div>

        <div class="row">

          <div class="col-sm-9">
            <label class="form-label">Nome Social:</label>
            <input th:id="@{nomeSocial}" th:field="*{nomeSocial}" type="text" class="form-control" />
          </div>
          <div class="col">
            <label class="form-label">Data Nascimento <span>*</span></label>
            <input th:id="@{dataNascimento}" th:field="*{dataNascimento}" type="date" class="form-control" />
            <span class="blink-1" th:if="${#fields.hasErrors('dataNascimento')}" th:errors="*{dataNascimento}"></span>
          </div>

        </div>

      </div>

      <div class="CadastroEndereco">

        <div class="row mb-3">

          <div class="col">
            <label for="" class="form-label">Pais Nascimento <span>*</span></label>
            <select th:id="@{paisNascimento}" th:field="*{paisNascimento}" class="form-select">
              <option selected th:value="${null}">Escolha um pais de nascimento</option>
              <option th:each="pais: ${listaPaises}" th:value="${pais.id}" th:text="${pais.descricao}"
                name="paisNascimento">
              </option>
            </select>
            <span class="blink-1" th:if="${#fields.hasErrors('paisNascimento')}" th:errors="*{paisNascimento}"></span>
          </div>
          <div class="col">
            <label for="" class="form-label">Pais Nacionalidade <span>*</span></label>
            <select th:id="@{paisNacionalidade}" th:field="*{paisNacionalidade}" class="form-select">
              <option selected th:value="${null}">Escolha um pais de nacionalidade</option>
              <option th:each="pais: ${listaPaises}" th:value="${pais.id}" th:text="${pais.descricao}"
                name="paisNacionalidade">
              </option>
            </select>
            <span class="blink-1" th:if="${#fields.hasErrors('paisNacionalidade')}"
              th:errors="*{paisNacionalidade}"></span>
          </div>

        </div>

        <div class="row mb-3">

          <div class="col-sm-2">
            <label class="form-label">CEP <span>*</span></label>
            <input th:id="@{endereco.cep.numeroCep}" th:field="*{endereco.cep.numeroCep}" type="text"
              class="form-control" maxLength="9" />
            <span class="blink-1" th:if="${#fields.hasErrors('endereco.cep.numeroCep')}"
              th:errors="*{endereco.cep.numeroCep}"></span>
          </div>
          <div class="col-sm-3">
            <label class="form-label">Tipo <span>*</span></label>
            <select th:id="@{endereco.tipoEndereco}" th:field="*{endereco.tipoEndereco}" class="form-select">
              <option selected th:value="${null}">Escolha um tipo</option>
              <option th:each="tipo: ${listaTipoEndereco}" th:value="${tipo.id}" th:text="${tipo.descricao}">
              </option>
            </select>
            <span class="blink-1" th:if="${#fields.hasErrors('endereco.tipoEndereco')}"
              th:errors="*{endereco.tipoEndereco}"></span>
          </div>
          <div class="col">
            <label class="form-label">Logradouro <span>*</span></label>
            <input th:id="@{endereco.logradouro}" th:field="*{endereco.logradouro}" type="text" class="form-control" />
            <span class="blink-1" th:if="${#fields.hasErrors('endereco.logradouro')}"
              th:errors="*{endereco.logradouro}"></span>
          </div>

        </div>

        <div class="row mb-3">

          <div class="col-sm-2">
            <label class="form-label">Numero <span>*</span></label>
            <input th:id="@{endereco.numero}" th:field="*{endereco.numero}" type="text" class="form-control" />
            <span class="blink-1" th:if="${#fields.hasErrors('endereco.numero')}" th:errors="*{endereco.numero}"></span>
          </div>
          <div class="col-sm-7">
            <label class="form-label">Complemento </label>
            <input th:id="@{endereco.complemento}" th:field="*{endereco.complemento}" type="text"
              class="form-control" />
            <span class="blink-1" th:if="${#fields.hasErrors('endereco.complemento')}"
              th:errors="*{endereco.complemento}"></span>
          </div>

          <div class="col">
            <label class="form-label">Bairro </label>
            <input th:id="@{endereco.cep.bairro}" th:field="*{endereco.cep.bairro}" type="text" class="form-control" />
          </div>

        </div>

        <div class="row mb-3">

          <div class="col">
            <label class="form-label">UF <span>*</span></label>
            <input th:id="@{endereco.cep.estado}" th:field="*{endereco.cep.estado}" type="text" class="form-control" />
            <span class="blink-1" th:if="${#fields.hasErrors('endereco.cep.estado')}"
              th:errors="*{endereco.cep.estado}"></span>
          </div>
          <div class="col">
            <label class="form-label">Municipio <span>*</span></label>
            <input th:id="@{endereco.cep.municipio}" th:field="*{endereco.cep.municipio}" type="text"
              class="form-control" />
            <span class="blink-1" th:if="${#fields.hasErrors('endereco.cep.municipio')}"
              th:errors="*{endereco.cep.municipio}"></span>
          </div>
        </div>

      </div>

      <div class="col">
        <input type="submit" class="w-100 btn btn-primary btn-lg mt-3" value="Cadastrar" />
      </div>


    </form>

  </div>

</body>

<script type="text/javascript" th:src="@{/extensions/jquery/jquery-3.6.1.min.js}"></script>
<script type="text/javascript" th:src="@{/extensions/jquery/validate/jquery.validate.min.js}"></script>

<script language="javascript">
  $(document).ready(function () {


    // Jquery Validator
    $("#formCadastrar").validate({
      rules: {
        '[[@{cpf}]]': {
          cpf: true,
          required: true
        },
        '[[@{nome}]]': {
          required: true,
          minlength: 3
        },
        '[[@{sexo}]]': {
          required: true
        },
        '[[@{raca}]]': {
          required: true
        },
        '[[@{estadoCivil}]]': {
          required: true
        },
        '[[@{dataNascimento}]]': {
          required: true
        },
        '[[@{paisNascimento}]]': {
          required: true
        },
        '[[@{paisNacionalidade}]]': {
          required: true
        },
        '[[@{endereco.cep.numeroCep}]]': {
          required: true,
          minlength: 9
        },
        '[[@{endereco.tipoEndereco}]]': {
          required: true
        },
        '[[@{endereco.logradouro}]]': {
          required: true,
          minlength: 3
        },
        '[[@{endereco.numero}]]': {
          required: true
        },
        '[[@{endereco.cep.estado}]]': {
          required: true
        },
        '[[@{endereco.cep.municipio}]]': {
          required: true
        }


      },
      highlight: function (element) {
        $(element).removeClass("is-valid").addClass("is-invalid");
      },
      unhighlight: function (element) {
        $(element).removeClass("is-invalid").addClass("is-valid");
      },

      messages: {
        '[[@{cpf}]]': { cpf: "Por valor, insira um CPF válido!", required: "Por valor, insira um CPF!" },
        '[[@{nome}]]': { required: "Por favor, insira um nome!", minlength: "O nome deve ter no mínimo 3 caracteres!" },
        '[[@{sexo}]]': { required: "Por favor, insira o sexo!" },
        '[[@{raca}]]': { required: "Por favor, insira a raça!" },
        '[[@{estadoCivil}]]': { required: "Por favor, insira o estado civil!" },
        '[[@{dataNascimento}]]': { required: "Por favor, insira a data de nascimento!" },
        '[[@{paisNascimento}]]': { required: "Por favor, insira a data de nascimento!" },
        '[[@{paisNacionalidade}]]': { required: "Por favor, insira a data de nascimento!" },
        '[[@{endereco.cep.numeroCep}]]': { required: "Por favor, insira o CEP!", minlength: "O CEP deve estar completo!" },
        '[[@{endereco.tipoEndereco}]]': { required: "Por favor, insira a data de nascimento!" },
        '[[@{endereco.logradouro}]]': { required: "Por favor, insira o logradouro!" },
        '[[@{endereco.numero}]]': { required: "Por favor, insira numero!" },
        '[[@{endereco.cep.estado}]]': { required: "Por favor, insira o estado!" },
        '[[@{endereco.cep.municipio}]]': { required: "Por favor, insira municipio!" },
      }

    })

    //metodo - validação de cpf
    jQuery.validator.addMethod("cpf", function (value, element) {
      value = jQuery.trim(value);

      value = value.replace('.', '');
      value = value.replace('.', '');
      cpf = value.replace('-', '');
      while (cpf.length < 11) cpf = "0" + cpf;
      var expReg = /^0+$|^1+$|^2+$|^3+$|^4+$|^5+$|^6+$|^7+$|^8+$|^9+$/;
      var a = [];
      var b = new Number;
      var c = 11;
      for (i = 0; i < 11; i++) {
        a[i] = cpf.charAt(i);
        if (i < 9) b += (a[i] * --c);
      }
      if ((x = b % 11) < 2) { a[9] = 0 } else { a[9] = 11 - x }
      b = 0;
      c = 11;
      for (y = 0; y < 10; y++) b += (a[y] * c--);
      if ((x = b % 11) < 2) { a[10] = 0; } else { a[10] = 11 - x; }

      var retorno = true;
      if ((cpf.charAt(9) != a[9]) || (cpf.charAt(10) != a[10]) || cpf.match(expReg)) retorno = false;

      return this.optional(element) || retorno;

    }, "Informe um CPF válido");

    //masks

    //metodos - inputs CPF e CEP somente com numero e Masks

    $('input[id="[[@{cpf}]]"]').on('keypress', function (e) {
      let tecla = (event.keyCode || event.charCode);
      let input = $('input[id="[[@{cpf}]]"]').val();
      let inputLength = input.length;
      if ((tecla > 47 && tecla < 58)) {
        if (inputLength === 3 || inputLength === 7) {
          $('input[id="[[@{cpf}]]"]').val(input + ".");
        } else if (inputLength === 11) {
          $('input[id="[[@{cpf}]]"]').val(input + "-");
        }
      } else {
        e.preventDefault();
      }
    })
    $('input[id="[[@{endereco.cep.numeroCep}]]"]').on('keypress', function (e) {
      let tecla = (event.keyCode || event.charCode);
      let input = $('input[id="[[@{endereco.cep.numeroCep}]]"]').val();

      let inputLength = input.length;
      if ((tecla > 47 && tecla < 58)) {
        if (inputLength === 5)
          $('input[id="[[@{endereco.cep.numeroCep}]]"]').val(input + "-");
      } else {
        e.preventDefault();
      }
    })

    $('input[id="[[@{endereco.cep.numeroCep}]]"]').on("keyup", () => {
      let cep = $('input[id="[[@{endereco.cep.numeroCep}]]"]').val();
      let cepLength = cep.length;
      console.log(cepLength);
      if (cepLength === 9) {
        let cepFormatado = cep.replace("-", "")
        $.ajax({
          url: "https://viacep.com.br/ws/" + cepFormatado + "/json",
          dateType: "json",
          crossDomain: true,
          statusCode: {
            200: function (data) {
              if (!("erro" in data)) {
                console.log("dfsdfaS")
                $('input[id="[[@{endereco.cep.numeroCep}]]"]').addClass("is-valid");
                if (data.logradouro !== "" || data.logradouro == null)
                  $('input[id="[[@{endereco.logradouro}]]"]').val(data.logradouro).addClass("is-valid").prop("disabled", true);
                else
                  $('input[id="[[@{endereco.logradouro}]]"]').val("").removeClass("is-valid").prop("disabled", false);

                if (data.complemento !== "")
                  $('input[id="[[@{endereco.cep.complemento}]]"]').val(data.complemento).addClass("is-valid").prop("disabled", true);
                else
                  $('input[id="[[@{endereco.cep.complemento}]]"]').val("").removeClass("is-valid").prop("disabled", false);

                if (data.bairro !== "")
                  $('input[id="[[@{endereco.cep.bairro}]]"]').val(data.bairro).addClass("is-valid").prop("disabled", true);
                else
                  $('input[id="[[@{endereco.cep.bairro}]]"]').val("").removeClass("is-valid").prop("disabled", false);

                if (data.localidade !== "")
                  $('input[id="[[@{endereco.cep.municipio}]]"]').val(data.localidade).addClass("is-valid").prop("disabled", true);
                else
                  $('input[id="[[@{endereco.cep.municipio}]]"]').val("").removeClass("is-valid").prop("disabled", false);

                if (data.uf !== "")
                  $('input[id="[[@{endereco.cep.estado}]]"]').val(data.uf).removeClass("is-invalid").addClass("is-valid").prop("disabled", true);
                else
                  $('input[id="[[@{endereco.cep.estado}]]"]').val("").removeClass("is-valid").prop("disabled", false);

              } else {
                $('input[id="[[@{endereco.logradouro}]]"]').val("").removeClass("is-valid").prop("disabled", false);
                $('input[id="[[@{endereco.cep.complemento}]]"]').val("").removeClass("is-valid").prop("disabled", false);
                $('input[id="[[@{endereco.cep.bairro}]]"]').val("").removeClass("is-valid").prop("disabled", false);
                $('input[id="[[@{endereco.cep.municipio}]]"]').val("").removeClass("is-valid").prop("disabled", false);
                $('input[id="[[@{endereco.cep.estado}]]"]').val("").removeClass("is-valid").prop("disabled", false);

              }

            }
          }
        })
      } else {
        $("#cep").removeClass("is-valid").addClass("is-invalid")
      }

    }),

    $('#cadastrar').addClass('active');
    
  })



</script>

</html>