<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml" layout:decorate="~{layout}">

<head>
  <meta charset="UTF-8">
  <title>Bem Vindo</title>
  <link rel="stylesheet" th:href="~{}" th:fragment="css"></link>
</head>

<body class="h-100">
  <main layout:fragment="main">
  <div class="container-fluid d-flex flex-column h-100 gap-2">
    <h2 th:text="${msgBemVindo}" class="text-center"></h2>
    <a href="/pessoa/cadastrar" class="btn btn-lg btn-outline-success align-self-center">Cadastrar Pessoa</a>
    <a href="/pessoa/listar" class="btn btn-lg btn-outline-primary align-self-center">Listar Pessoas</a>
  </div>
</main>
<script th:inline="javascript" th:src="~{}" th:fragment="inlinescript"></script>
<script language="javascript" th:fragment="js">
  $(document).ready(function () {
    $('#home').addClass('active');
  })
</script>
</body>


</html>