<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Bem Vindo</title>    
    <link th:href="@{/css/main.css}" rel="stylesheet" />
    <link th:href="@{/extensions/bootstrap/css/bootstrap.css}" rel="stylesheet" />
    <script type="text/javascript" th:src="@{/extensions/bootstrap/js/bootstrap.js}"></script>
</head>

<body class="h-100">

    <div class="container-fluid h-100">
        <h2 th:text="${msgBemVindo}" class="text-center mb-4"></h2>
        
    </div>
</body>

</html>